// images variables

$header-img: url("images/moon.jpg");
$footer-img: url("images/earth.jpg");
$astronaut-img: url("images/1531645209.svg");
$satellite-img: url("images/satellite.png");
$shuttle-img: url("images/shuttle.png");
