// media queries

$break-small: 62em;

@media only screen and (min-width: $break-small)  {
    /* intro grid */
    .intro {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    header, .summary {
        grid-column: 1 / span 5;
    }

    .preamble:hover, .explanation:hover, .benefits:hover, .participation:hover {
        transform: scale(1.15);
    }
    
    #zen-preamble {
        width: 470px;
        height: 460px;
        padding: 3.9rem;
        line-height: 1.5;
        text-align: center;
        border-radius: 50%;
        background: linear-gradient(135deg, #594C2D 0%,#C09C25 100%);
        box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
        margin: 3rem;
        color: white;
    }

    #zen-participation {
        width: 600px;
        height: 590px;
        padding: 4rem;
        line-height: 1.5;
        text-align: center;
        border-radius: 50%;
        background: linear-gradient(135deg, #594C2D 0%,#C09C25 100%);
        box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
        margin: 3rem;
        color: white;
    }
    
    #zen-benefits {
        width: 380px;
        height: 370px;
        padding: 2rem;
        line-height: 1.5;
        text-align: center;
        border-radius: 50%;
        background: linear-gradient(135deg, #496CE3 0%,#23538a 100%);
        box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
        color: white;
    }

    #zen-explanation {
        width: 500px;
        height: 490px;
        padding: 4rem;
        line-height: 1.5;
        text-align: center;
        border-radius: 50%;
        background: linear-gradient(135deg, #496CE3 0%,#23538a 100%);
        box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
        color: white;
    }

    #zen-preamble p, #zen-preamble h3, #zen-participation p, #zen-participation h3 {
        color: white;
    }

    .preamble {
        grid-column: 1 / span 2;
    }

    .preamble::after {
        content: "";
        display: block;
        margin-top: -20%;
        margin-left: 60%;
        @include background-img($shuttle-img);
        width: 20vw;
        height: 30vh;
        position: absolute;
    }

    /* main grid */
    .main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1em;
    }

    .benefits {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    
    .explanation {
        grid-column: 3 / span 3;
    }

    .participation {
        grid-column: 1 / span 3;
    }

    .participation::after {
        content: "";
        display: block;
        margin-top: -20%;
        margin-left: 70%;
        @include background-img($astronaut-img);
        width: 20vw;
        height: 30vh;
        position: absolute;
    }

    .requirements {
        grid-column: 1 / span 5;
    }

    footer {
        grid-column: 1 / span 5;
    }

    /* satellite grid */
    .sidebar .wrapper {
        margin-top: 4em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}